include ./assets/templates/tile.jade

doctype html
html(lang='en')
  head
    title Sawhikes portfolio
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='./assets/styles/index.css')
  body
    .container-fluid
      .row.row-1
        .col-md-3.logo-wrapper
          img.icon(src='./assets/images/icons/tie-white.svg', alt='logo')
        .col-md-3.welcome-wrapper
          .foreground
            span.welcome.welcome-1 wel
            span.welcome.welcome-2 co
            span.welcome.welcome-3 me
          .background
            span.welcome.welcome-1 wel
            span.welcome.welcome-2 co
            span.welcome.welcome-3 me
        .col-md-3.about-wrapper
          .inner-wrapper
            span.line.line-1 I am
            span.line.line-2 Andrew
            span.line.line-3 Shiyka
            span.line.line-4 Graphic
            span.line.line-5 designer
        .col-md-3.portfolio-wrapper
          .foreground
            .inner-wrapper
              span.line.line-1 Just
              span.line.line-2 check
              span.line.line-3 my portfolio
              span.line.line-4 and let's
              span.line.line-5 work together!
          .background
            span.line.line-1 check
            span.line.line-2 my portfolio
            span.line.line-3 and let's
            span.line.line-4 work together!
      .row.row-2
        .col-md-3.about-wrapper
          +tile('hat.svg', 'dec-white.svg', 'About me')
        .col-md-3.works-wrapper
          +tile('glasses.svg', 'dec-black.svg', 'Works')
        .col-md-3.inspiration-wrapper
          +tile('mustaches-pipe-black.svg', 'dec-white.svg', 'What inspires')
        .col-md-3.reviews-wrapper
          +tile('tie-black.svg', 'dec-black.svg', 'What inspires')
      .row.row-3
        .col-md-3.behance-wrapper
          +tile('behance-white.svg', 'behance-black.svg')
        .col-md-3.instagram-wrapper
          +tile('instagram-black.svg', 'instagram-white.svg')
        .col-md-3.link-wrapper
          +tile('anchor-white.svg', 'anchor-black.svg')
        .col-md-3.about-wrapper
          +tile('mustaches-hat-black.svg', 'mustaches-hat-white.svg')
