doctype html
html(lang='en')
  head
    title Sawhikes portfolio
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='./assets/styles/index.css')
  body
    .container-fluid
      .row.row-1
        .col-md-3.logo-wrapper
          img.icon(src='./assets/images/icons/tie-white.svg', alt='logo')
        .col-md-3.welcome-wrapper
          .foreground
            span.welcome.welcome-1 wel
            span.welcome.welcome-2 co
            span.welcome.welcome-3 me
          .background
            span.welcome.welcome-1 wel
            span.welcome.welcome-2 co
            span.welcome.welcome-3 me
        .col-md-3.about-wrapper
          .inner-wrapper
            span.line.line-1 I am
            span.line.line-2 Andrew
            span.line.line-3 Shiyka
            span.line.line-4 Graphic
            span.line.line-5 designer
        .col-md-3.portfolio-wrapper
          .foreground
            .inner-wrapper
              span.line.line-1 Just
              span.line.line-2 check
              span.line.line-3 my portfolio
              span.line.line-4 and let's
              span.line.line-5 work together!
          .background
            span.line.line-1 check
            span.line.line-2 my portfolio
            span.line.line-3 and let's
            span.line.line-4 work together!
      .row.row-2
        .col-md-3.about-wrapper
          .background
            img.icon(src='./assets/images/icons/hat.svg', alt='Hat')
        .col-md-3.works-wrapper
          .background
            img.icon(src='./assets/images/icons/glasses.svg', alt='Glasses')
        .col-md-3.inspiration-wrapper
          .background
            img.icon(src='./assets/images/icons/mustaches-pipe.svg', alt='Mustaches and pipe')
        .col-md-3.reviews-wrapper
          img.icon(src='./assets/images/icons/tie-white.svg', alt='Reviews')
      .row.row-3
        .col-md-3.behance-wrapper
          img.icon(src='./assets/images/icons/behance-white.svg', alt='Behance')
        .col-md-3.instagram-wrapper
          img.icon(src='./assets/images/icons/instagram.svg', alt='Instagram')
        .col-md-3.link-wrapper
          img.icon(src='./assets/images/icons/anchor.svg', alt='Link')
        .col-md-3.about-wrapper
          img.icon(src='./assets/images/icons/mustaches-hat.svg', alt='About me')