doctype html
html(lang='en')
  head
    title Sawhikes portfolio
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='./assets/styles/index.css')
  body
    .container-fluid
      .row.row-1
        .col-md-3.logo-wrapper
          img.logo(src='./assets/images/icons/tie-white.svg', alt='logo')
        .col-md-3.welcome-wrapper
          .foreground
            span.welcome.welcome-1 wel
            span.welcome.welcome-2 co
            span.welcome.welcome-3 me
          .background
            span.welcome.welcome-1 wel
            span.welcome.welcome-2 co
            span.welcome.welcome-3 me
        .col-md-3.about-wrapper
          .inner-wrapper
            span.line.line-1(data-text='I am') I am
            span.line.line-2(data-text='Andrew') Andrew
            span.line.line-3(data-text='Suchka') Suchka
            span.line.line-4(data-text='Graphic') Graphic
            span.line.line-5(data-text='designer') designer
