@import './bootstrap/bootstrap/index.styl'

grey-1 = #d3d3d3
white = #e1e1e1
black = #1d1d1d

@font-face
  font-family 'times'
  src url('../fonts/times-regular.eot'),
      url('../fonts/times-regular.woff') format('woff'),
      url('../fonts/times-regular.ttf') format('truetype')
  font-style normal
  font-weight normal

.container-fluid
  padding 0
  font-family times

.row
  margin 0
[class*='col-']
  padding 0

.background
.foreground
  width 100%
  height 100%
.background
  absolute top
.foreground
  position relative
  z-index 2

verticalCenter()
  relative top 50%
  transform translate(0, -50%)

line-params(size=1em, spacing=0, transform=none)
  font-size size
  letter-spacing spacing
  text-transform transform

tile-params(bg=black, imgSize=50)
  background bg
  .icon
    width imgSize
    margin 0 ((100 - imgSize) / 2)%
    verticalCenter()

@keyframes glitch {
  25% {
    text-shadow -1px 0 0 red, -1px 0 0 blue
  }
  50% {
    text-shadow 1px 0 0 red, -2px 0 0 blue
  }
  75% {
    text-shadow 0 0 0 red, -1px 0 0 blue
  }
  100% {
    text-shadow 2px 0 0 red, -2px 0 0 blue
  }
}
