@import './common.styl'

html
body
.container-fluid
  width 100%
  height 100%

.container-fluid > .row
  height 33.334%
  margin 0
  user-select none

.row-1
  .logo-wrapper
  .welcome-wrapper
  .about-wrapper
    overflow hidden
    position relative
    height 100%
  .logo-wrapper
    background black
    .logo
      display block
      width 70%
      margin 0 15%
      verticalCenter()
  .welcome-wrapper
    background white
    .background
    .foreground
      width 100%
      height 100%
      .welcome
        text-transform uppercase
        display block
        line-height 0.75em
        &-1
        &-3
          position absolute
        &-2
          verticalCenter()
    .background
      absolute top
      .welcome
        font-size 11vw
        letter-spacing 0.05em
        color grey-1
        &-1
          top -0.05em
        &-3
          bottom -0.05em
    .foreground
      position relative
      z-index 2
      .welcome
        padding-left 0.15em
        font-size 9vw
        color black
        letter-spacing 0.1em
        &-1
          top 0.1em
        &-3
          bottom 0.1em
  .about-wrapper
    background black
    .inner-wrapper
      verticalCenter()
      .line
        line-height 1em
        text-align center
        display block
        color white
        white-space nowrap
        text-shadow -2px 0 0 red, 2px 0 0 blue
        animation glitch 0.5s ease infinite alternate
        // &::before
        // &::after
        //   content attr(data-text)
        //   absolute left 50%
        //   z-index -1
        //   background black
        // &::before
        //   clip rect(0.35em, 0.5em, 0.7em, 0)
        //   transform translate(calc(-50% + 2px), 0)
        //   text-shadow -1px 0 red
        // &::after
        //   transform translate(calc(-50% - 2px), 0)
        //   text-shadow -1px 0 blue
      .line-1
        font-size 4vw
        text-transform uppercase
      .line-2
      .line-3
        letter-spacing 0.25em
        font-size 2vw
        text-transform capitalize
      .line-4
        font-weight 700
        letter-spacing 0.1em
        font-size 2.25vw
        text-transform capitalize
      .line-5
        letter-spacing 0.15em
        font-size 2vw
        text-transform lowercase
