@import './common.styl'

html
body
.container-fluid
  width 100%
  height 100%

.container-fluid > .row
  height 33.334%
  margin 0
  user-select none
  & > [class*='col-']
    overflow hidden
    position relative
    height 100%

.row
  .icon
    display block
    verticalCenter()

.row-1
  .logo-wrapper
    background black
    .icon
      width 70%
      margin 0 15%
  .welcome-wrapper
    background white
    .background
    .foreground
      .welcome
        text-transform uppercase
        display block
        line-height 0.75em
        &-1
        &-3
          position absolute
        &-2
          verticalCenter()
    .background
      .welcome
        font-size 11vw
        letter-spacing 0.05em
        color grey-1
        &-1
          top -0.05em
        &-3
          bottom -0.05em
    .foreground
      .welcome
        padding-left 0.15em
        font-size 9vw
        color black
        letter-spacing 0.1em
        &-1
          top 0.1em
        &-3
          bottom 0.1em
  .about-wrapper
    background black
    .inner-wrapper
      verticalCenter()
      .line
        line-height 1em
        text-align center
        display block
        color white
        white-space nowrap
        text-shadow -2px 0 0 red, 2px 0 0 blue
        animation glitch 0.5s ease infinite alternate
      .line-1
        line-params(4vw, 0, uppercase)
      .line-2
        line-params(2vw, 0.25em, capitalize)
      .line-3
        line-params(2vw, 0.3em, capitalize)
      .line-4
        font-weight 700
        line-params(2.25vw, 0.1em, capitalize)
      .line-5
        line-params(2vw, 0.15em, lowercase)
  .portfolio-wrapper
    background white
    .foreground
      color black
      .inner-wrapper
        absolute bottom 0.5em left 0.5em
        .line
          line-height 1em
          display block
        .line-1
          font-weight 700
          line-params(3vw, 0.75em, capitalize)
        .line-2
          font-weight 700
          margin -0.2em 0 0.1em 0
          line-params(3vw, 0.4em, lowercase)
        .line-3
          line-params(2.4vw, 0, lowercase)
        .line-4
          font-weight 500
          word-spacing 0.75em
          line-params(3vw, 0 lowercase)
        .line-5
          word-spacing 0.75em
          line-params(1.8vw, 0, lowercase)
    .background
      .line
        line-height 1em
        display block
        color grey-1
        white-space nowrap
      .line-1
        font-weight 900
        margin -0.25em 0 0 0
        line-params(7vw, 0.25em, lowercase)
      .line-2
        font-weight 500
        line-params(5vw, 0.1em, lowercase)
      .line-3
        margin -0.25em 0
        line-params(4vw, 0.1em, lowercase)
      .line-4
        font-weight 700
        line-params(4vw, 0.1em, lowercase)
.row-2
  .about-wrapper
    tile-params(white, 50)
  .works-wrapper
    tile-params(black, 70)
  .inspiration-wrapper
    tile-params(white, 70)
  .reviews-wrapper
    tile-params(black, 70)
.row-3
  .behance-wrapper
    tile-params(black, 50)
  .instagram-wrapper
    tile-params(white, 30)
  .link-wrapper
    tile-params(black, 50)
  .about-wrapper
    tile-params(white, 40)